<form id="new-perspective-form" action="/perspectives" method = "post">

  <label for="perspective-name">Perspective title</label>
  <input type="text" id="name" placeholder="Name" value="" name="name">

  <label for="desc">Perspective description</label>
  <textarea id="desc" name="desc" value="" rows="2" placeholder="Description"></textarea> 

  <label for="perspective">Upload your perspective: </label>
  <input id="perspective" type="file" name="perspective" accept="image/*">
  
  <input type="submit" value="Submit">
</form>